function digitalConversion(num) {
  var num1 = "";
  var num = (num || 0).toString(),
    result = "";
  if (num.split(",").length > 1) {
    return num
  } else {
    if (num.indexOf(".") > -1) {
      num1 = num.split(".")[1];
      num = num.split(".")[0];
    }
    while (num.length > 3) {
      result = "," + num.slice(-3) + result;
      num = num.slice(0, num.length - 3);
    }
    if (num) {
      result = num + result;
    }
    if (num1 != "") {
      if (num1.length == 1) {
        num1 += '0'
      } else if (num1.length > 2) {
        num1 = num1.substring(0, 2)
      }
      return result + "." + num1;
    } else {
      return result + '.00';
    }
  }
}
module.exports.digitalConversion = digitalConversion;